@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

#herobanner {
    @apply bg-cover bg-center;
    background-image: url('../public/images/arkaplanbir.png');
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
    #contactInfoCard {
        margin-left: 5px;
        margin-right: 5px;
    }
}
